* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    body {
    background: #E5E5E5;
    font-family: $main-font;
   }

   .container {
    margin: 0 auto;
    width: 1600px;
    padding: 0 15px;
    }
