@import '../sass/variables.scss';

@media screen and (max-width: 767px) {
    .container {
        width: 375px;
        padding: 0 5px;
        }

        .mobile-menu {
            display: block;
        }

    .nav__list {
        display: none;
    }

    .request {
        display: none;
    }

    .slider {
        display: none;
    }

    .cart-text-block {
        padding: 10px;
        width: 200px;
        height: 130px;
        }

    .card__list {
    display: inline;
    }

    .card__item {
        margin-left: 100px;
        width: 230px;
        height: 160px;
        margin-bottom: 30px;
    }

    .icon {
        margin-top: -50px;
        width: 130px;
        height: 140px;
        padding:  10px;
    }

    .card__title {
        font-size: 14px;
        margin-bottom: 5px;
    
    }
    
    .card__discription {
        font-size: 10px;
        margin-bottom: 5px;
    }
    
    .card-link {
        font-size: 10px;
    }

    .footer {
        text-align: center;
        background-image: url('../images/Rectangle\ 41.png');
        background-size: contain;
    }

    .footer-block  {
        display: none;
    }

    .about {
        display: none;
    } 
    
    .help {
        display: none;
    }

    .info-block {
        display: inline;
        justify-content: space-between;
    }

    .adress-block {
        margin-bottom: 35px;
    }

   .adress, .phone {
   margin-left: 25px;
    font-size: 12px;
    }

    .logo-block, .text {
        display: none;
    }

    hr {
        display: none;
    }

    .mobile-menu {
        margin-left: 50px;
        margin-top: -115px;
    }

    .mobile-header-nav {
        background-color: var(--btn-background);
        display: none;
        list-style: none;  
        margin: 0; 
        padding: 0; 
        position: absolute;
        top: 100px;
        width: 300px;
        
        li {
          border-bottom: 1px solid rgba(255,255,255,0.1);
          a {
            color: white;
            display: block;
            padding: 15px 0;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            
            &:hover {
              background-color: lighten(#222222, 5%);
            }
          }
        }
      }
      
      .hamburger-menu {
        display: inline-block;
        height: 100px;
        padding: 35px 25px;
        transition: all 0.3s ease-in-out;
      
        &:hover {
          cursor: pointer;
        }
      
        .menu-item {
          background: black;
          display: block;
          height: 3px;
          margin: 0 0 10px;
          transition: all 0.3s ease-in-out;
          width: 40px;
        }
          
        &.open {
      
          .menu-item {
            margin: 0 0 5px;
      
            &:first-child {
              transform: rotate(45deg);
              transform-origin: 10px;
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
              transform-origin: 8px;
            }
          }
        }
      }
}
