@import '../css/variables.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    body {
    background: #f9fcfd;
    font-family: var(--main-font);
   }

   .container {
    margin: 0 auto;
    width: 1600px;
    padding: 0 240px;
    }
