.card__item--icon01 {
    background: url('../images/Rectangle\ 39\ \(1\).png') no-repeat;
}

.card__item--icon02 {
    background: url('../images/Rectangle\ 39.png') no-repeat;
}

.card__item--icon03 {
    background: url('../images/Rectangle\ 39\ \(3\).png') no-repeat;
}

.card__item--icon04 {
    background: url('../images/Rectangle\ 39\ \(2\).png') no-repeat;
}