@import '../css/variables.css';
.footer {
    padding: 50px 0;
}

hr {
background: var(--fotter-background);
opacity: 0.3;
margin-bottom: 100px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-text {
}

.footer__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: var(--header-text-color);
    
}

.footer__discription {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: var(--textcolor);
}

.footer-buttons {
    display: flex;
    text-align: center;
}

.button-load {
cursor: pointer;
width: 170px;
height: 60px;
background: var(--btn-background);
border-radius: 50px;
 font-weight: 800;
 font-size: 18px;
 line-height: 160%;
 align-items: center;
 text-align: center;
 color: #FFFFFF;
 margin-right: 25px;
 }

 .button-load:hover {
    background: var(--img-background);
    color: var(--header-text-color);
    }

 .button-request {
cursor: pointer;
border: none;
width: 210px;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
   font-size: 16px;
   line-height: 160%;
   align-items: center;
   color: var(--btn-background);
 }

 .button-request:hover {
    background: var(--img-background);
    color: var(--header-text-color);
  }

.logo-block {
    display: flex;
    margin-bottom: 20px;
}

  .logo {
    display: block;
    background-image: url('../../src/images/Logo.png');
    width: 49px;
    height: 35px;
    margin-right: 20px;
  }

  .logo-text {
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: var(--header-text-color);
    margin-bottom: 30px;
  }

  .info-block {
      display: flex;
      justify-content: space-between;
  }

  .adress-block {
    width: 335px;
}

  .adress {
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--header-text-color);
    margin-bottom: 20px;
}

  .phone {
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: var(--header-text-color);
    margin-bottom: 30px;
  }

  .text {
    font-size: 12px;
    line-height: 180%;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--header-text-color);
  }

  .info-title {
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: var(--header-text-color);
    margin-bottom: 45px;
  }

  .info-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 250%;
    color: var(--header-text-color);
  }

  .info-link {
      cursor: pointer;
  }

  .info-link:hover {
      color:var(--fotter-background);
  }

.social-link {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-right: 15px;
    }

  .social-link1 {
      background-image: url('../images/icons8-facebook-64.png');
  }

  .social-link2 {
    background-image: url('../images/icons8-twitter-64.png');
}

.social-link3 {
    background-image: url('../images/icons8-instagram-64.png');
}