.header-block {
    /* display: flex;
    justify-content: space-between; */
    padding: 25px 0;
    align-items: center;
    }

    .site__logo {
   display: block;
   background-image: url(../../src/images/Logo.png);
   width: 50px;
   height: 30px;
   }

   .logo__text {
    color: #ffffff;
    font-size: 30px;
    font-family: var(--nav-title-font);
    font-weight: bold;
   }

    .nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
   }

    .list--item {
   list-style: none;
   }

    .nav--link {
   display: block;
   text-decoration: none;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 14px;
   transition: color 0.5s linear;
   }

   .nav--link::after {
    display: block;
    content: "";
    height: 3px;
    background-color: var(--social-color);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    }
    
   .nav--link:hover::after {
    transform: scaleX(1);
    }
    
   .nav--link:hover {
    color: var(--social-color);
   }


.nav--input {

}

.request-button {

}




.box {
    margin: 0 auto;
    width: 70px;
    height: 30px;
  }
  
  .container-2{
    width: 30px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  
  .container-2 input#search{
    width: 170px;
    height: 30px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #858383;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
  }
   
  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
   
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
   
  .container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
   
  .container-2:hover input#search{
  width: 50px;
  }
   
  .container-2:hover .icon{
    color: #93a2ad;
  }
