@import '../css/variables.css';

.slider {
    margin: 0 auto;
    width: 1145px;
    height: 100%;
    margin-bottom: 50px;
 }
 .slider input[type=radio] {
    display: none;
 }
 .slider label {
    cursor: pointer;
    text-decoration: none;
 }
 #slides {
    position: relative;
    z-index: 0;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 560px;
 }
 #slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
 }
 #slides .slide_1 {
    background-image: url('../images/Rectangle\ 34.png');
 }
 #slides .slide_2 {
    background-image: url('../images/property_times_news_bts_parus_snova_smenil_vladeltsa.jpg');
 }
 #slides .slide_3 {
    background-image: url('../images/3540-4-fotozum_7445.jpg');
 }
 #slides .slide_4 {
    background-image: url('../images/cities3-e1574234961539.jpg');
 }

 #bullets {
    margin: 30px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: rgb(44, 44, 44);
 }

 .slide-title {
   width: 645px;
   height: 184px;
   font-family: Avenir;
   font-style: normal;
   font-weight: 800;
   font-size: 72px;
   line-height: 110%;
   display: flex;
   align-items: center;
   color: var(--header-text-color);
 }

 .slide-disctiption {
   width: 380px;
   height: 120px;
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;
   color:var(--textcolor);
 }

.slide-button {
   cursor: pointer;
   width: 170px;
   height: 60px;
   background: var(--btn-background);
   border-radius: 50px;
font-weight: 800;
font-size: 18px;
line-height: 160%;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.slide-button:hover {
background: var(--img-background);
color: var(--header-text-color);
}